* {
  /* font-family: "Poppins", sans-serif; */
  padding: 0;
  margin: 0;
}

.privacy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #222;
  line-height: 1.6;
  text-align: start;
}

.privacy-header {
  margin-bottom: 30px;
}

.privacy-title {
  font-size: 32px;
  font-weight: 700;
  color: #2a68d6;
  margin-bottom: 10px;
}

.privacy-subtitle {
  font-size: 16px;
  color: #222;
  font-weight: 400;
  margin-bottom: 15px;
}

.privacy-section {
  margin-bottom: 25px;
}

.privacy-section strong{
  font-size: 16;
  font-weight: 700;
  
}

.privacy-section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000000;
}

.privacy-content {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.privacy-content p {
  margin-bottom: 10px;
}

.privacy-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.privacy-list li {
  margin-bottom: 5px;
}

.privacy-link {
  color: #2a68d6;
  text-decoration: none;
}

.privacy-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .privacy-container {
    padding: 15px;
  }

  .privacy-title {
    font-size: 24px;
  }

  .privacy-subtitle {
    font-size: 16px;
  }

  .privacy-section-title {
    font-size: 16px;
  }

  .privacy-content {
    font-size: 14px;
  }

  .privacy-date {
    font-size: 12px;
  }
}
