<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=name%> | 404 | NotFound
    </title>
    <link rel="shortcut icon" href="" type="image/x-png">
    <link rel="apple-touch-icon" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>


    <div class="container">
        <div class="row">

            <h1 class="pt-5" style="text-align: center;font-weight: bold;">
                <%=name%>
            </h1>
            <div class="col-lg-12 pt-3 text-center">
                <!-- Image commented out as requested -->
                <!-- 
                <svg class="animated" style="width: 100%;height:500px" id="freepik_stories-college-campus" xmlns="http://www.w3.org/2000/svg">
                    [freepik_stories-college-campus vector illustration SVG commented out]
                </svg>
                -->
                
                <div style="padding: 60px 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <div style="font-size: 120px; font-weight: 800; color: #e74c3c; line-height: 1; margin-bottom: 10px;">404</div>
                    <div style="font-size: 28px; font-weight: 600; color: #2c3e50; margin-bottom: 15px;">Page Not Found</div>
                </div>
            </div>
            <div class="pt-2">
                <h3 style="text-align: center; text-transform: capitalize; color: #7f8c8d; font-weight: 400;">
                    <%=message%>
                </h3>
            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>